<% layout("layouts/boilerplate") %>

<h1><%= beach.title %></h1>
<h2><%=beach.location%></h2>
<img src="<%= beach.image%> " alt="" />
<button><a href="/beaches">Go Back</a></button>
<Button><a href="">Edit</a></Button>
